/* ---- Elemnt Styles ---- */

body{
    padding: 50px;
    margin: 0px;
    background-image: url(href="assets/images/magic-doodle-set.png");
}

#game {
    margin: 0 auto;
    padding: 28px 28px 56px 28px;
    max-width: 800px;
    background-color: #fae99d;
    border: solid 4px black;
}


/* ---- Text Styles ---- */

h2 {
    font-family: 'Fenix', serif;
    font-size: 32px;
    font-weight: bold;
    margin: 28px 0px 18px 0px;
}

p {
    font-family: 'Fenix', serif;
    font-size: 24px;
    line-height: 28px;
}


/* ---- Image Styles ---- */

.Oujia_Header {
    max-width: 100%;
    height: auto;
}